{% comment %}
CSS Foundation
Chapter 1:
CSS Introduction
{% endcomment %}

<!DOCTYPE html>

<html lang = "en">
	
	<head>
		
		<script src = "/Static/Assets/Javascript/jquery-1.11.0.js"></script>
		<script src = "/Static/Assets/Javascript/jquery-ui-1.10.4.js"></script>
		<script src = "/Static/Assets/Javascript/globalVariables.js"></script>
		<script src = "/Static/Assets/Javascript/chap01cssIntroductionHead.js"></script>
		<script src = "/Static/Assets/Javascript/chap01cssIntroductionBody.js"></script>
		<script src = "/Static/Assets/Javascript/chap01cssIntroductionHtml.js"></script>
		<script src = "/Static/Assets/Javascript/chap01cssIntroductionUi.js"></script>
		<script src = "/Static/Assets/Javascript/chap01cssIntroductionEvents.js"></script>
		<script src = "/Static/Assets/Javascript/chap01cssIntroductionMain.js"></script>

	</head>

</html>
